twitter_key='twitter_key'
twitter_secret='twitter_secret'
twitter_access_token='twitter_access_token'
twitter_access_token_secret='twitter_access_token_secret'

db_name='database_name'
db_host='localhost'
db_username='database_username'
db_password='user_password'