<html>
  <head>
    <title>TwitterStock</title>
    <h1>TwitterStock</h1>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        $(function() {
            $("#datepicker").datepicker();
        });
      google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      {% for label, a in data %}
        ['{{label}}',{{a}}],
      {% endfor %}
    ], true);

    var options = {
      legend:'none'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

    chart.draw(data, options);

  }
    </script>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <td>
          <form action="" method="POST">
              <p>Date: <input type="text" id="datepicker" name="date" value="{{ date }}"></p>
            <select name="symbol">
              {% for value in symbols %}
                {% if value == symbol %}
                 <option selected="{{value}}"  name="symbol" value="{{value}}">{{value}}</option>
                {% else %}
                 <option  name="symbol" value="{{value}}">{{value}}</option>
                {% endif %}
              {% endfor %}
              <input type="submit" value="Reload" >
            </select>
          </form>
        </td>
        <td>
          <h1>{{ symbol }} - {{ company_name }}</h1>
          <div id="chart_div" style="width: 900px; height: 500px;"></div>
          <!--<div id="curve_chart" style="width: 900px; height: 300px"></div>-->
        </td>
      </tr>
    </table> 
  </body>
</html>
